ul {
    list-style-type: none;
}

.player-name {
    color: rgb(80, 186, 235);
}


.container {
    max-width: 500px !important;
    width: 80% !important;
}

.modal {
    color: white;
}

#goal-display {
    padding-left: 1em;
}